@{
  Layout = "_Layout";
}

<h1>Client Details</h1>

<h3>Client Name: @Model["vendor"].Name</h3>
<h2>Order Details: @Model["order"].OrderDetails</h2>
<h2>Order Price: @Model["order"].Price</h2>
<h2>Month of Purchase: @Model["order"].Month</h2>
<h2>Day of Purchase: @Model["order"].Day</h2>
<h2>Year of Purchase: @Model["order"].Year</h2>

<a href='/vendors/@Model["vendor"].Id/orders/new'>Add Another Client</a>
<a href='/vendors'>View Clients</a>