@{
  Layout = "_Layout";
}

<h1>Client Details</h1>

<h4>Client Name:</h4>
<p>@Model["vendor"].Name</p>

<h4>Order Details:</h4>
<p>@Model["order"].OrderDetails</p>

<h4>Order Price:</h4>
<p>@Model["order"].Price</p>

<h4>Month of Purchase:</h4>
<p>@Model["order"].Month</p>

<h4>Day of Purchase:</h4>
<p>@Model["order"].Day</p>

<h4>Year of Purchase:</h4>
<p>@Model["order"].Year</p>

<form action='/vendors/@Model["vendor"].Id/orders/new' method="get">
  <button type="submit" class="btn btn-success">Add Another Order</button>
</form>

<form action="/vendors" method="get">
  <button type="submit" class="btn btn-success">List of Clients</button>
</form>

<form action="/" method="get">
  <button type="submit" class="btn btn-success">HOME</button>
</form>