@{
  Layout = "_Layout";
}

<h1>Client Details</h1>

<h4>Client Name:</h4>
<p>@Model["vendor"].Name</p>

<h4>Order Details:</h4>
<p>@Model["order"].OrderDetails</p>

<h4>Order Price:</h4>
<p>$@Model["order"].Price</p>

<h4>Date of Purchase:</h4>
<p>Month: @Model["order"].Month | Day: @Model["order"].Day | Year: @Model["order"].Year</p>

<form action='/vendors/@Model["vendor"].Id/orders/new' method="get">
  <button type="submit" class="btn btn-success" id="btn1">ADD ANOTHER ORDER TO CLIENT</button>
</form>

<form action="/vendors" method="get">
  <button type="submit" class="btn btn-success" id="btn3">LIST OF CLIENTS</button>
</form>

<form action="/" method="get">
  <button type="submit" class="btn btn-success" id="btn4">HOME</button>
</form>