@{
  Layout = "_Layout";
}

@using BakeryStatistics.Models;

<h3>Customer Details:</h3>
<br>
<ol>
  @foreach (Order order in @Model["orders"])
  {
    <li><a href="/vendors/@Model["customer"].Id/orders/@order.Id">@order.Name</a></li>
    <li><a href="/vendors/@Model["customer"].Id/orders/@order.Id">@order.OrderDetails</a></li>
    <li><a href="/vendors/@Model["customer"].Id/orders/@order.Id">@order.Price</a></li>
    <li><a href="/vendors/@Model["customer"].Id/orders/@order.Id">@order.Date</a></li>
  }
</ol>
<br>
<form action="/vendors/@Model["customer"].Id/orders/new" method="get">
<button type="submit" class="btn btn-success">ADD NEW CUSTOMER</button>
</form>
<br>
<br>
<form action="/vendors/" method="get">
<button type="submit" class="btn btn-success">CUSTOMER DATABASE</button>
</form>
<br>
<br>
<form action="/" method="get">
<button type="submit" class="btn btn-success">HOME</button>
</form>