@{
  Layout = "_Layout";
}

@using BakeryStatistics.Models;

<h3>Client Order Details:</h3>
<br>

@if (@Model["orders"].Count == 0)
{
  <p>There is no order details for this Client yet.</p>
}
<ol>
  @foreach (Order order in @Model["orders"])
  {
    <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>Date: @order.Month - @order.Day - @order.Year</a></li>
  }
</ol>

<form action='/vendors/@Model["vendor"].Id/orders/new' method="get">
  <button type="submit" class="btn btn-success" id="btn1">ADD ORDER DETAILS</button>
</form>

<form action="/vendors" method="get">
  <button type="submit" class="btn btn-success" id="btn2">LIST OF CLIENTS</button>
</form>

<form action="/" method="get">
  <button type="submit" class="btn btn-success" id="btn3">HOME</button>
</form>